@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Lustria&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

* { /*Pour la fluidité quand je presse un bouton qui permet d'acceder à une section*/
    scroll-behavior: smooth;
}

header {
    text-align: center;
}

.logo-block-txt {
    text-align: center;
}

.logo-block-txt h1 {
    font-family: 'Changa', sans-serif;
    font-size: 2rem;
    color: black;
    border: 2px solid orange;
    padding: 10px;
    display: inline-block;
    background-color: darkorange;
    border-radius: 8px;
}

header h1.Title {
    font-family: 'Changa', sans-serif;
    font-size: 2rem;
    color: black;
    background-color: darkorange;
    padding: 10px 20px;
    border: 2px wheat;
    border-radius: 8px;
    display: inline-block;
}

.logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    text-decoration: none;
}

.logo-block img {
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: bounce 1s forwards;
}

.logo-block-txt h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 2.5rem;
}

.Title {
    font-family: 'Changa', sans-serif;
    font-size: 2rem;
}

.Title a:hover {
    color: black;
    background-color: orange;
    border-radius: 8px;
    padding: 10px 20px;
}

p {
    font-family: 'Lustria', sans-serif;
    font-size: 1rem;
}

.sub_title {
    font-family: 'Yantramanav', sans-serif;
    color: orangered;
    font-size: 1.5rem;
}

body {
    font-family: "Barlow", sans-serif;
    line-height: 1.6;
    background-color: #333333;
    color: #000000;
    margin: 0;
}

main {
    margin: 4% 12%;
    border-radius: 4px;
    border: #ff6600 2px solid;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    border-top: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    padding: 1rem;
}

nav ol, nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 18px;
}

nav a:hover {
    background-color: #333333;
    border-radius: 2px;
    transition: 0.5s;
    color: #ff6600;
}

.go_to_checkpoint {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.go_to_checkpoint ol {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.go_to_checkpoint li {
    margin-right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go_to_checkpoint li:hover {
    background-color: orange;
}

.go_to_checkpoint li a {
    text-decoration: none;
    color: black;
    font-family: 'Changa', sans-serif;
    font-size: 1rem;
    margin-left: 10px;
}

.go_to_checkpoint li::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('ballon-de-basket.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.galery_home_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 90rem;
    margin: 10px auto;
    padding: 10px;
}

.image-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.image-container:hover {
    background-color: orange;
}

.galery_home_page img {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    border-radius: 5px;
    border: 2px solid orange;
    transition: border-color 0.3s ease;
}

.galery_home_page img:hover {
    border-color: white;
}

.image-container p {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav li {
        display: flex;
        justify-content: center;
    }
    nav a {
        padding: 6px;
    }

    main {
        margin: 4% 2%;
        padding: 15px;
    }

    .go_to_checkpoint ol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .go_to_checkpoint li {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .image-container {
        width: 100%;
    }
}
